@tailwind base;
@tailwind components;
@tailwind utilities;

*[id^='map'] {
    height: 100%;

}

.map100 {
    height: 100%;
}


.three {
    column-count: 3;
    column-gap: 40px;
}

.one {
    column-count: 1;
}